{% for premise_name in premises %}
  <div class="form-check">
    <input class="form-check-input premise-checkbox" type="checkbox" name="selected_premises" value="{{ premise_name }}" id="premise_{{ premise_name | replace(' ', '_') | replace('/', '_') | replace('(', '_') | replace(')', '_') }}">
    <label class="form-check-label" for="premise_{{ premise_name | replace(' ', '_') | replace('/', '_') | replace('(', '_') | replace(')', '_') }}">
      {{ premise_name }}
    </label>
  </div>
{% endfor %}